/////////-------Наша миссия-------/////////
///
.mission {
  background-color: $black;
  margin-bottom: 100px;

  @include laptops {
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    align-items: center;

    @include tablets {
      flex-direction: column-reverse;
    }
  }

  &__description {
    width: 50%;
    margin-left: auto;

    @include tablets {
      width: 100%;
      margin-left: 0;
      padding: 0 20px;
      margin-top: 30px;
    }
  }
}

/////////-------Наша команда-------/////////
///

.team {
  padding: 90px 0;

  &__description-text {
    font-weight: 400;
    font-family: $Unbounded;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 60px;
    width: 69%;
    transform: translateX(223px);

    @include tablets {
      margin-top: 35px;
      width: 100%;
      transform: translateX(0);
    }
  }

  &__wrapper {
    width: 76%;
    transform: translateX(223px);

    @include tablets {
      width: 100%;
      transform: translateX(0);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    @include tablets {
      flex-direction: column;
    }
  }

  &__item {
    flex: 0 0 30%;
    margin-bottom: 45px;

    @include tablets {
      align-self: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__member-name {
    font-weight: 400;
    font-family: $Unbounded;
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 30px;
  }

  &__member-position {
    color: $blackAlpha;
  }
}
