.mission {
  background-color: $black;
  padding: 90px 90px 0;
}

.mission__content {
  display: flex;
}

.mission__description {
  width: 50%;
  margin-left: auto;

  @include tablets {
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
    margin-top: 30px;
  }
}

.team__description-text {
  font-weight: 400;
  font-family: 'Unbounded';
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 60px;
  width: 69%;
  margin-left: 223px;

  @include tablets {
    padding: 0 20px;
    width: 100%;
    margin-left: 0;
  }
}

.team__content {
  width: 76%;
  margin-left: 223px;

  @include tablets {
    width: 100%;
    margin-left: 0;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;

  @include tablets {
    flex-direction: column;
  }
}

.team__item {
  flex: 0 0 30%;
  margin-bottom: 45px;
  margin-right: 25px;

  @include tablets {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.team_img {
  margin-bottom: 20px;
  max-width: 276px;
  max-height: 304px;
  height: auto;
}

.member_name {
  font-weight: 400;
  font-family: 'Unbounded';
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
  margin-top: 30px;
}

.memmer_title {
  color: rgba(61, 61, 61, 0.7);
  font-size: 16px;
  line-height: 20px;
}
