/////////-------описание и инфографика-------/////////
///
.main-description {
  @include section-padding;
  font-family: $Unbounded;
  z-index: 2;
  position: relative;

  @include tablets {
    padding: 0;
  }

  &--inner {
    padding: 0 0 90px 0;
  }

  &__image {
    width: 100%;
    height: 460px;

    & img {
      width: 100%;
      height: 460px;
      object-fit: cover;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    display: flex;
    gap: 100px;
  }

  &__content-image {
    position: relative;
    transform: translateY(-120px);
    width: 100%;

    & img {
      max-width: none;
    }

    @include laptops {
      display: none;
    }
  }
}

.info {
  position: relative;
  background: $black;
  color: $white;
  border-top-left-radius: 80px;
  padding: 30px;
  margin: 100px 0 -140px auto;
  width: 100%;
  max-width: 1101px;
  min-height: 280px;

  @include laptops {
    margin: 65px 0 -140px auto;
  }

  @include tablets {
    border-top-left-radius: 0;
    margin: 0;
  }

  &--top {
    margin: -140px 0 70px auto;
    border-top-left-radius: 0;

    @include laptops {
      margin: -140px 0 70px auto;
    }
  }

  &__rectangle {
    width: 25px;
    height: 70%;
    background: $yellow;
    position: absolute;
    z-index: 2;
    inset: 0 0 auto auto;

    @include tablets {
      inset: 0 auto auto 0;
      width: 100%;
      height: 25px;
    }

    &--full {
      height: 100%;

      @include tablets {
        height: 25px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include tablets {
      flex-direction: column;
    }
  }

  &__item {
    padding: 30px;
    @extend %flex-column;

    @include tablets {
      align-self: center;
    }
  }

  &__value {
    font-size: 80px;
    line-height: 99.2px;
    font-weight: 200;
    align-self: center;

    @include tablets {
      align-self: flex-start;
    }

    @include phones {
      font-size: 60px;
    }
  }

  &__text {
    color: $lightGreyText;
    font-family: $Montserrat;
    font-size: 18px;
    font-weight: 200;

    @include phones {
      font-size: $baseFontSize;
    }
  }
}

/////////-------Наша миссия-------/////////
///
.mission {
  background-color: $black;
  padding: 90px 90px 0;

  @include laptops {
    padding: 0;
  }

  &__content {
    display: flex;

    @include tablets {
      flex-direction: column-reverse;
    }
  }

  &__description {
    width: 50%;
    margin-left: auto;

    @include tablets {
      width: 100%;
      margin-left: 0;
      padding: 0 20px;
      margin-top: 30px;
    }
  }
}

/////////-------Наша команда-------/////////
///

.team {
  padding: 90px 0;

  &__description-text {
    font-weight: 400;
    font-family: $Unbounded;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 60px;
    width: 69%;
    transform: translateX(223px);

    @include tablets {
      padding: 0 20px;
      margin-top: 35px;
      width: 100%;
      transform: translateX(0);
    }
  }

  &__wrapper {
    width: 76%;
    transform: translateX(223px);

    @include tablets {
      width: 100%;
      transform: translateX(0);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    @include tablets {
      flex-direction: column;
    }
  }

  &__item {
    flex: 0 0 30%;
    margin-bottom: 45px;

    @include tablets {
      align-self: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__member-name {
    font-weight: 400;
    font-family: $Unbounded;
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 30px;
  }

  &__member-position {
    color: $blackAlpha;
  }
}
