/////////-------base-------/////////
///
html {
  font-size: $baseFontSize;

  @include tablets {
    font-size: $baseFontSize - 1px;
  }

  @include phones {
    font-size: $baseFontSize - 4px;
  }
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $Montserrat;
  font-weight: 300;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.maincontent {
  background: $backgroundGrey;
}

.container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: $Unbounded;
  color: $lightBlack;
}

table {
  border-collapse: collapse;
}

ul {
  list-style: none;
}

ul,
p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.img-style {
  filter: grayscale(100%);

  &:hover {
    filter: none;
  }
}

.preview__img {
  width: 100%;
}
