.blog__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 130px;
  gap: 24px;

  @include tablets {
    flex-direction: column;
  }
}

.blog__item {
  flex: 0 0 30%;
  margin-bottom: 32px;
  padding: 20px;

  @include tablets {
    width: 100%;
  }
}
