/////////-------блок контактов-------/////////
///
.contacts {
  background: $white;
  padding: 80px;

  @include laptops {
    padding: 50px 20px;
  }

  @include tablets {
    padding: 50px 0;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    @include tablets {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    gap: 80px;

    @include tablets {
      flex-direction: column;
      padding: 20px;
      gap: 25px;
    }
  }

  &__address {
    font-weight: 400;
  }

  &__text {
    color: $blackAlpha;
    font-size: 14px;
  }
}

.address {
  font-family: $Unbounded;
  font-size: 15px;
  font-weight: 400;
}

.contact-phone,
.contact-email {
  font-weight: 400;
}

.address,
.contact-phone,
.contact-email {
  &:hover {
    text-decoration: none;
  }
}

/////////-------страница контактов-------/////////
///
.contacts--grey {
  background: $backgroundGrey;
}
