.contacts-page {
    background-color: #f4f4f4;
}

.map-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #f4f4f4;
}

#map {
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}

.form-section {
    background-color: #f4f4f4;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container-form {
    width: 100%;
}

.form {
    display: flex;
    background-color: white;
    padding: 40px;
    flex-direction: column;
    max-width: 891px;
    width: 100%;
    position: relative;
    bottom: 100px;
    float: right;
    min-height: 350px;

    @include tablets {
        flex-direction: column;
        padding: 0 7%;
        width: 100%;
        left: 0;
        bottom: 0;
        height: auto;
    }

    @include phones {
        padding: 0;
    }
}

.form-title {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 40px;
    line-height: 49px;
}

.form__col {
    flex: 1;
    margin-right: 1.25rem;

    &:last-child {
        margin-right: 0;
        width: 100%;
        justify-content: space-between;
        display: inline-flex;
    }

    @include tablets {
        margin-right: 0;

        &:last-child {
            flex-direction: column;
        }
    }
}

.form__row {
    display: inline-flex;
    width: 100%;

    @include tablets {
        flex-direction: column;
    }
}

.form__block {
    flex: 1;
    margin-right: 1.25rem;  
    border-bottom: 1px solid rgba(61, 61, 61, 0.5);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-bottom: 30px;
        width: 100%;
    }
}

.form__row-comment {
    width: 70%;
    height: 70px;

    @include tablets {
        width: 100%;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: 1.125rem 0.6875rem;
    border: solid 0.1875rem transparent;
    border-radius: 3px;

    @include tablets {
        padding: 0.375rem 0.6875rem;
    }

    &--textarea {
        height: auto;
        resize: none;

        @include tablets {
            height: 6.25rem;
        }
    }

    &:focus {
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.75rem;

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    display: inline-flex;
    position: relative;

    @include tablets {
        display: flex;
        justify-content: left;
    }
}

.btn--form {
    display: inline-flex;
    bottom: 0;
    top: 35%;
    height: 34px;
    width: 185px;
    background-color: white;

    @include tablets {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin-bottom: 50px;
    }
}