.hamburger {
    width: 32px;
    height: 9px;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    display: block;
    background: white;
    height: 1.4px;
    border-radius: 10px;
}

.hamburger__plank-black {
    background-color: black;
}