.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
}

.header__inner {
    color: black;
}

.menu {
    display: flex;
    margin: 0 30px;
    padding-top: 14px;

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: 'Montserrat';
    line-height: 17.07px;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: 35px;
    margin-bottom: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.mobile-content {
    display: inline-flex;
}

.phone-number__icon {
    display: none;

    @include tablets {
        display: inline-flex;
        margin-right: 35px;
    }

}

.phone-number {
    color: #DBFF00;
    font-weight: 600;
    font-family: 'Unbounded';
    text-decoration: underline;
    display: flex;
    align-items: center;
    line-height: 22px;
    padding-top: 10px;

    @include tablets {
        display: none;
    }
}

.phone-number__inner {
    color: black;
}

.phone-number__text {
    white-space: nowrap;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.phone-number__icon-elem {
    width: 20px;
    height: 20px;
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}