.maincontent {
    background-color: #f4f4f4;
}

.hero {
    background: url(../img/cover-main.png) center top no-repeat;
    background-color: #d5d5d5;
    min-height: 789px;
    background-size: cover;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    position: relative;

    @include tablets {
        background: url(../img/header_cover_mobile.png) center top no-repeat;
        background-size: cover;
        height: 58.5625rem;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    &:after {
        content: url(../img/click.png);
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 37px;

        @include tablets {
            left: 40%;
            bottom: -1px;
        }
    }

    &:hover {
        filter: none;
    }
}

.hero__title-section {
    width: 100%;
    margin-top: 377px;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0;
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1.5rem 0 2.8125rem 0;
}

.hero__main-title {
    font-size: 64px;
    font-family: 'Unbounded';
    line-height: 72px;
    margin-bottom: 0.9375rem;
    text-transform: uppercase;
    color:#DBFF00;
    font-weight: 300;
    display: flex;
    flex-direction: column;

    @include tablets {
        margin-top: 4.125rem;
        text-align: left;
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
        display: block;
    }

    @include phones {
        font-size: 24px;
        text-align: left;
        line-height: 29.76px;
        margin-left: 17px;
        font-weight: 400;
    }
}

.hero__main-subtitle {
    font-size: 64px;
    font-family: 'Unbounded';
    line-height: 72px;
    margin-bottom: 0.9375rem;
    text-transform: uppercase;
    color: white;
    text-align: right;
    font-weight: 300;
    margin-right: 135px;

    @include tablets {
        margin-right: 0;
        margin-bottom: 0;
        text-align: left;
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
    }

    @include phones {
        font-size: 2.5rem;
    }
}

.hero__title-description {
    font-size: 18px;
    font-family: "Unbounded";
    margin-right: 133px;
    color: white;
    text-align: right;
    width: 340px;
    float: right;
    opacity: 70%;
    line-height: 24px;

    @include tablets {
        text-align: left;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        margin-right: 0;
    }

    @include phones {
        text-align: left;
    }
}

.hero__inner {
    background: none;
    min-height: 100px;
    height: auto;

    &::after {
        content: none;
    }
}

.header__inner {
    color: black;
}

.phone-number__inner {
    color: black;

    @include tablets {
        display: none;
    }
}