/////////-------hero-------/////////
///
.hero {
  background: url(../assets/img/covers/main-hero_cover.png) top center / cover no-repeat;
  border-radius: 0 0 $radius-desk $radius-desk;
  position: relative;

  @include tablets {
    border-radius: 0 0 $radius-tab $radius-tab;
  }

  &--inner {
    background: none;
    border-bottom: 1px solid rgb(217, 217, 217);
    border-radius: 0;

    @include tablets {
      border-bottom: 0;
    }
  }

  &__container {
    @extend %flex-column;
    justify-content: space-between;
    height: 100%;
    padding: 1.5rem 0 2.8125rem 0;
  }

  &__title-section {
    font-family: $Unbounded;
    @extend %flex-column-center;
    margin-top: 35vh;

    @include tablets {
      align-items: flex-start;
    }
  }

  &__main-title {
    font-size: 64px;
    margin-bottom: 5vh;
    text-transform: uppercase;
    color: $yellow;
    @extend %flex-column;

    @include laptops {
      font-size: 54px;
    }

    @include tablets {
      margin-top: 4.125rem;
      text-align: left;
      font-size: 24px;
      font-weight: 400;
      display: block;
    }

    @include phones {
      font-size: $baseFontSize;
    }
  }

  &__main-subtitle {
    color: $white;
    text-align: right;

    @include tablets {
      text-align: left;
      font-size: 24px;
    }

    @include phones {
      font-size: $baseFontSize;
    }
  }

  &__title-description {
    font-size: 18px;
    color: $lightGreyText;
    width: 340px;
    margin-left: auto;

    @include tablets {
      text-align: left;
      font-size: 14px;
      margin-left: 0;
    }

    @include phones {
      font-size: 12px;
    }
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include laptops {
      flex-direction: column-reverse;
    }
  }

  &__scroll-link {
    position: absolute;
    inset: auto auto 0 50%;
    transform: translateX(-50%);
    width: 81px;
    height: 37px;
  }
}

.hero-picture {
  background:
    linear-gradient($gradient, $gradient),
    url(../assets/img/products/project-example-3.png) top center / cover no-repeat;
  min-height: 700px;
}

/////////-------header-------/////////
///
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: $white;

  &--inner {
    color: $black;
  }

  &__mobile {
    @extend %flex-center;
    gap: 35px;
  }
}

.logo {
  &__icon {
    width: 173px;
    height: 45px;
  }
}

.menu {
  display: flex;
  margin: 0 30px;
  padding-top: 14px;

  @include tablets {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 60px;
  }

  &__item {
    @extend %hover-scale;
  }
}

.menu__link,
.footer__link {
  @extend %nav-link;
}

.header__phone-number {
  font-family: $Unbounded;
  font-size: 14px;
  font-weight: 400;
  @extend %flex-center;
  padding-top: 14px;
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $yellow;
    @extend %hover-scale;
  }

  @include tablets {
    display: none;
  }

  &--dark {
    &:hover {
      color: $black;
    }
  }
}

.mobile__icon {
  display: none;

  @include tablets {
    display: inline-flex;
    width: 20px;
    height: 20px;
  }
}

.hamburger {
  display: none;

  @include tablets {
    display: inline-flex;
    width: 32px;
    height: 13px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__plank {
    display: block;
    background: $white;
    height: 2px;
    width: 100%;
    border-radius: 10px;

    &--dark {
      background: $black;
    }
  }
}

/////////-------Секции-------/////////
///
.section {
  padding: 50px 0;

  @include tablets {
    padding: 30px 0;
  }

  &--light {
    background: $white;
  }

  &--dark-grey {
    background: $backgroundGrey;
  }

  &--dark-black {
    background: $black;
  }
}

/////////-------Текстовый блок-------/////////
///
.page-inner__description {
  max-width: 50%;
  margin-bottom: 30px;

  @include tablets {
    margin-left: 20px;
    max-width: 100%;
  }
}

/////////-------footer-------/////////
///
.footer {
  background: $black;
  padding: 76px 0 40px;
  color: $white;

  @include phones {
    padding: 36px 10px 40px;
  }

  &__content {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    padding-bottom: 55px;
    border-bottom: 1px solid $darkBackgroundBorder;
  }

  &__logo {
    margin-right: auto;
  }

  &__nav {
    display: flex;
    gap: 50px;

    @include laptops {
      gap: 35px;
    }
  }

  @include tablets {
    .footer__content,
    .footer__nav {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__column,
  &__list,
  &__contacts {
    @extend %flex-column;
  }

  &__title {
    margin-bottom: 24px;
    font-family: $Unbounded;
    font-size: 14px;
  }

  &__list,
  &__contacts {
    gap: 12px;
  }

  &__link {
    color: $lightGreyText;

    &:hover {
      text-decoration: underline;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;

    @include tablets {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }

  &__developer {
    display: flex;
    vertical-align: middle;
    align-items: center;
    gap: 8px;
    color: $white;
  }
}

.contact__footer {
  @extend %flex-column;
  padding-bottom: 10px;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.copyright {
  color: $lightGreyOnBlack;
}

.developer-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
}

.developer-image {
  @extend %flex-center;
}
