$containerWidth: 940px;
$baseFontSize: 18px;


//breakpoints
$tablets: 768px;
$phones: 360px;


//colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;

//z-index
$z-fixed-menu: 100;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import "media";
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "layout";
@import "general";
@import "hero";
@import "header";
@import "hamburger";
@import "burger-menu";
@import "contacts";
@import "blog";
@import "news";
@import "main-description";
@import "services";
@import "advantages";
@import "reviews";
@import "projects";
@import "about-page";
@import "projects-item";
@import "services-page";
@import "reviews-page";
@import "blog-page";
@import "contacts-page";
@import "project-page";