.page-inner__description {
  max-width: 50%;
  margin-bottom: 30px;

  @include tablets {
    margin-left: 20px;
    max-width: 100%;
  }
}

.reviews__list--grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  @include tablets {
    flex-direction: column;
  }
}
